* {
  margin: 0px;
  padding: 0px;
}
  .stickheader {
  padding: 10px 30px;
  background: black;
  color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
#head:hover {
  color: black;
  background-color: greenyellow;
}

.stickheader input {
  outline: none;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: black;
  color: white;
  font-family: arial;
}

.subtitle {
  padding: 100px;
  margin: 35px;
  text-align: center;
  font-family: cursive;
}

#search_bar {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  margin-right: 1%;
  padding: 10px;
}

   .main {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 2%;
    }

    .card {
        width: 20.01%;
        display: inline-block;
        box-shadow: 2px 2px 10px silver;
        border-radius: 5px;
        margin: 2% auto;
        background-color: #000;
    }

    @media (max-width:1368px){
        .card{
            width: 25.01%;
        }
    }
    @media (max-width:1070px){
        .card{
            width: 40%;
            margin: 2.5% auto;
        }
    }
    @media (max-width:700px){
        .card{
            width: 70%;
            margin: 4% auto;
        }
    }
.card:hover {
  box-shadow: 2px 2px 20px grey;
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 20px;
}

.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.7;
}

button:hover {
  background-color: greenyellow;
  color: black;
  transition: 0.3s;
  cursor: pointer;
  opacity: 1;
}

.yt--player {
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: bolder;
  text-decoration: overline;
  padding-top: 80px;
  height: 50px;
}
.card--y--list {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 80px;

  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;

}

.card--y {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px; 
  box-shadow: 5px 10px 8px #888888;
  filter: grayscale(80%); 
}
.card--y:hover {
  box-shadow: 5px 12px 12px #888888;
  filter: grayscale(0);
  transform: scale(1.05) rotate(2deg);
}
.card--y--text {
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: rgb(46, 13, 13);
  text-align: center;
  letter-spacing: -1px;
}

.card--y--des {
  padding: 5px 22px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.footer-heart {
  font-size: larger;
  text-align: center;
  margin-top: 200px;
}


/* Hero */

.left {
  left: 15px;
  position: absolute;
}

.right {
  right: 15px;
  position: absolute;
}

/* top section */

.top-section {
  background-image: url("https://images.unsplash.com/photo-1594623930572-300a3011d9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-size: cover;
  border-radius: 0 0 15px 15px;
  position: static;
}

.hero-display {
  max-width: 1600px;
  margin: 0 auto 0;
  height: 900px;
  position: relative;
}

/* Navbar */
.navbar {
  padding-top: 35px;
  padding-left: 35px;
  position: relative;
}

.collapse {
  position: absolute;
  left: 25%;
}

.navbar-brand {
  color: #f7f7f7;
  font-family: "Inconsolata";
  font-size: 2em;
  font-weight: 700;
  margin-left: 0;
  padding-left: 0;
}

.nav-link {
  color: #f7f7f7;
  font-family: "Inconsolata";
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 25px 0;
  position: relative;
}

.nav-link:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #f7f7f7;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.search-bar{
  border-radius: 50px;
}

/* Hero Text style */

.hero-h1 {
  color: #f7f7f7;
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 4.2em;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 45px;
}

.hero-h2 {
  color: #f7f7f7;
  font-family: "Inconsolata";
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0;
}

.hero-text {
  bottom: 60px;
  left: 35px;
  padding-right: 25px;
  position: absolute;
}

.read-more-button {
  background-color: #fff;
  border: 0;
  border-radius: 30px;
  bottom: -30px;
  box-shadow: 2px 5px 10px 0 rgba(69, 50, 42, 0.2);
  cursor: pointer;
  height: 60px;
  left: calc(50% - 30px);
  position: absolute;
  transform: scale(0.98);
  width: 60px;
  color: black;
}

/* #e6e6e6 */

/* Media controls */
/* width is greater than 1200px */
@media (min-width: 1200px) {
  .hero-h1 {
    font-size: 9em;
  }
}

/* width is less than 1400px */
@media (max-width: 1400px) {
  .less-imp {
    display: none;
  }

  .cards-vol-wrapper {
    max-width: 1000px;
  }

  .cards-vol-wrapper-header {
    max-width: 1000px;
  }
}

/* width is less than 1200px */
@media (max-width: 1200px) {
  .hero-h1 {
    font-size: 6em;
  }
}

/* Width is less than 900px */
@media (max-width: 900px) {
  .navbar {
    padding-top: 15px;
    padding-left: 20px;
  }

  .collapse {
    position: static;
  }

  .hero-display {
    height: 600px;
  }

  .hero-text {
    left: 20px;
  }

  .hero-h1 {
    font-size: 4.2em;
  }

  .read-more-button {
    display: none;
  }
}

.gotopbtn {
  background: #fff;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #f1f1f1;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;          
}

.gotopbtn.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  background-color: purple;
}


